mixin blogForm(blog = {}, action='/')
  
  form(method="POST", action=action)
    label(for="author") Author
    input(type="text", id="author", name="author", value=blog.author, placeholder="Author's Name")
    label(for="title") Blog Title
    input(type="text" id="title", name="title",  value=blog.title, placeholder="Blog Title")
    label(for="blog_body") Blog Body
    textarea(id="blog_body", name="blog_body")= blog.body
    input(type="submit")
  a(href="/") Return to Index